Source: mrpdi
Section: kernel
Priority: optional
Maintainer: Enrique Medina Gremaldos <quiqueiii@gmail.com>
Build-Depends: debhelper (>= 7), cmake, make (>=4.0), g++ (>=4:7.4), pkg-config, libx11-dev, libusb-1.0-0-dev, libxrandr-dev, libgtkmm-3.0-dev, libglibmm-2.4-dev, libconfig++-dev, libappindicator3-dev
Standards-Version: 4.1.4

Package: libmrpdi2
Architecture: any
Conflicts: mrpdi-core
Provides: mrpdi-core
Replaces: mrpdi-core
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mrpdi core files
 mrpdi core shared libraries

Package: mrpdi-drivers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmrpdi2 (= ${binary:Version})
Conflicts: mrpdi-drivers-main, mrpdi-drivers-iqboard, mrpdi-drivers-multiclass
Provides: mrpdi-drivers-main, mrpdi-drivers-iqboard, mrpdi-drivers-multiclass
Replaces: mrpdi-drivers-main, mrpdi-drivers-iqboard, mrpdi-drivers-multiclass
Description: mrpdi main drivers
 mrpdi main drivers including Smart, Multiclass, IQBoard and some tablets

Package: libmrpdi-dev
Architecture: any
Depends: libmrpdi2 (= ${binary:Version}), ${misc:Depends}
Conflicts: mrpdi-dev
Provides: mrpdi-dev
Replaces: mrpdi-dev
Description: mrpdi development files
 Needed files to develop mrpdi drivers

Package: mrpdi-cli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmrpdi2 (= ${binary:Version})
Description: mrpdi cli
 mrpdi command line tool

Package: mrpdi-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmrpdi2 (= ${binary:Version})
Description: mrpdi gui
 mrpdi gtk ui
